[submodule "deps/ConfigParserEnhanced"]
	path = deps/ConfigParserEnhanced
	url = https://github.com/sandialabs/ConfigParserEnhanced.git
	branch = main
[submodule "deps/SetEnvironment"]
	path = deps/SetEnvironment
	url = https://github.com/sandialabs/SetEnvironment.git
	branch = main
[submodule "deps/DetermineSystem"]
	path = deps/DetermineSystem
	url = https://github.com/sandialabs/DetermineSystem.git
	branch = main
[submodule "deps/KeywordParser"]
	path = deps/KeywordParser
	url = https://github.com/sandialabs/KeywordParser.git
	branch = main
[submodule "deps/LoadEnv"]
	path = deps/LoadEnv
	url = https://github.com/sandialabs/LoadEnv.git
	branch = main
[submodule "deps/SetProgramOptions"]
	path = deps/SetProgramOptions
	url = https://github.com/sandialabs/SetProgramOptions.git
	branch = main
